/* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
#map {
    height: 100%;
    min-height:100%;
    background-color:#bb90f3;
    border: 1px solid blue;
}
/* Optional: Makes the sample page fill the window. */
html, body {
}

body {
}

.wrapper .row {
    height: 100vh;
}