{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- google api key AIzaSyB62WXl60F8rx74hDmKjj_sBJRwu5Wgnlo -->
    <title>Auto-complete Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/searchbox.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid wrapper">
        <div class="row">
            <div id="places" class="col-lg-4 d-flex flex-column p-0">
                <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                <div id="searchedPlaces"></div>
            </div>
            <div id="map" class="col-lg-8"></div>
            <div style="display: none">
                <div id="info-content">
                    <table>
                        <tr id="iw-url-row" class="iw_table_row">
                            <td id="iw-icon" class="iw_table_icon"></td>
                            <td id="iw-url"></td>
                        </tr>
                        <tr id="iw-address-row" class="iw_table_row">
                            <td class="iw_attribute_name">Address:</td>
                            <td id="iw-address"></td>
                        </tr>
                        <tr id="iw-phone-row" class="iw_table_row">
                            <td class="iw_attribute_name">Telephone:</td>
                            <td id="iw-phone"></td>
                        </tr>
                        <tr id="iw-rating-row" class="iw_table_row">
                            <td class="iw_attribute_name">Rating:</td>
                            <td id="iw-rating"></td>
                        </tr>
                        <tr id="iw-website-row" class="iw_table_row">
                            <td class="iw_attribute_name">Website:</td>
                            <td id="iw-website"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div><!-- end of row-->
    </div> <!-- end of wrapper-->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB62WXl60F8rx74hDmKjj_sBJRwu5Wgnlo&libraries=places"></script>
    <script type="text/javascript" src="{% static 'js/searchbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/tether/tether.min.js' %}"></script>
</body>

</html>